<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/login.css" rel="stylesheet" />
  <title>로그인</title>

  </head>
  <body>
  <h1>로그인</h1>
  <form method="post" action="/user/login">
    <div class="input_container">
      <div class="input_wrap">
        <input id="id" name="id" type="text" placeholder="아이디" />
        <input id="pw" name="password" type="password" placeholder="비밀번호" />
      </div>
      <button>로그인</button>
    </div>

    <div class="join">
      아직 회원이 아니시라면..?
      <a href="register"> 회원가입</a>
    </div>
  </form>
  </body>
  </html>