<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/register.css" rel="stylesheet" />
  <title>회원가입</title>

  </head>
  <body>
  <h1>회원가입</h1>
  <form method="post" action="/user/register">
    <div class="input_container">
      <div class="input_wrap">
        <input id="name" name="name" type="text" placeholder="이름" />
        <input id="id" name="id" type="text" placeholder="아이디" />
        <input id="pw" name="password" type="password" placeholder="비밀번호" />
      </div>
      <button>회원가입</button>
    </div>
    <div class="move_login">
      회원이시라면..?
      <a href="login">로그인</a>
    </div>
  </form>
  </body>
  </html>