<!DOCTYPE html>
<html lang="ko">
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/nav.css" rel="stylesheet" />
    <title>Nav Bar</title>
    <style>
      li {
        cursor: pointer;
      }
    </style>
  </head>

  <nav class="navbar" th:fragment="nav">
    <div class="navbar__logo">
      <i class="fas fa-blog"></i>
      <h1><a href="/list">게시판 수행평가</a></h1>
    </div>

    <ul class="navbar__menu">
      <li
        id="loginButton"
        th:if="${login == false}"
        onclick="window.location.href='/user/login'">로그인</li>
      <li
        id="logoutButton"
        th:if="${login == true}"
        onclick="logout()">로그아웃</li>
    </ul>

    <script>
      function logout() {
        document.cookie = "token=; expires=Thu, 01 Jan 1999 00:00:10 GMT;";
        window.location.href='/user/logout'
      }
    </script>
  </nav>

  <footer class="border-top" th:fragment="footer">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="small text-center text-muted fst-italic">
            Made By Kim Junho 2022
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
