.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 169, 255, 0.53);
    padding: 8px 12px;
    border: solid #D9D9D9;
}

body {
    margin: 0;
    background-color: white;
}

.navbar__logo {
    justify-content: center;
    color: white;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navbar__menu {
    list-style: none;
    display: flex;
    padding-left: 50%;
}

.navbar__menu li{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    border: solid black;
    border-radius: 2px;
}

.border-top {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 30px;
}